<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body ng-app>
    <input type="text" ng-model="query" />
    <select ng-model="order">
        <option value="username">order by username</option>
        <option value="content">order by content</option>
    </select>

    <div ng-init="users=[{username:'Marc', content:'Hello'}, {username:'Jean', content:'Test'}, {username:'Jhon', content:'First'}]">
        <li ng-repeat="user in users | filter:query | orderBy:order">{{user | uppercase}}</li>
    </div>

    {{users | filter:'M'}}

    <input type="text" ng-model="task" />

    {{"Hello " + task}}
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</body>
</html>