<!DOCTYPE html>
<html>
<head>
    <title>My anugularJS App</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
</head>
<body ng-app="myApp">

    <div class="ui container" ng-controller="demoCtrl">
        <p>{{ count | minutes }}</p>
        <button class="ui button" ng-click="increaseCount()">Increase</button>
        <ul>
            <li ng-repeat="c in counts track by $index">
                {{ c }}
            </li>
        </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>